@import url('https://fonts.googleapis.com/css?family=Manrope');

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/backgroundINNO.jpg);
  background-size: cover;
  background-attachment: fixed;


}

code {
  font-family:Manrope, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}


